@mixin vertical-align($percent) {
  position: 		       relative;
  top: 					   $percent;
  -webkit-transform: 	   translateY(-$percent);
  -ms-transform: 		   translateY(-$percent);
  transform: 			   translateY(-$percent);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}