@import url(https://fonts.googleapis.com/css?family=Oswald:400,300&subset=latin,latin-ext);

$header-font: 'Oswald', sans-serif;

// COLOURS
$banner-font-color: 			#fff;
$body-bg:						#EDE8ED;
$heading-color:					#9585A3;

$banner-height:					90vh;



@import "_mixins/_mixins";

@import "_partials/_banner",
		"_partials/_layout",
		"_partials/_generic",
		"_partials/_text";
